        <%= form_for [@book, @comment] do |f| %>
        <div class="field row">
          <label for="
          book_opinion">Comment</label>
          <%= f.text_area :comment, class:"col-xs-12 book_comment" %>
        </div>
        <div class="actions row">
          <%= f.submit "Update", class:"btn btn-lg btn-base-1 mt-20 pull-right" %>
        </div>
          <% end %>
        </div>
  	</div>